
body {
    background-color:black;
    font-family:arial;color:white;    
}
/* body design is set  */
h1{color:grey;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* heading design is set now */
 
.maindiv{
    background-color: white;
    color: black;
    width: 300px;
    padding: 20px;
    border-radius: 25px;
    margin: auto;
}
/* this is settings for main division in Interest Calculator */




